<div class="row">
  <div class="col-md-5">
    <app-recipe-list></app-recipe-list>
  </div>
  <div class="col-md-7">
    <app-recipe-detail
      *ngIf="recipeSelected; else recipeNotSelected"
      [recipe]="recipeSelected"></app-recipe-detail>
    <ng-template #recipeNotSelected>
      <p>Please Select a recipe</p>
    </ng-template>
  </div>
</div>
